/.idea/dataSources.xml
/.idea/dataSources/f85b0730-91a2-43eb-8856-babfb300c88c.xml
/.idea/dataSources/f85b0730-91a2-43eb-8856-babfb300c88c/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/.idea/misc.xml
/.idea/modules.xml
/.idea/plugins.iml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/sqldialects.xml
/.idea/vcs.xml
.gitignore
